.inputs{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 100px;
    grid-row-gap: 40px;
   
} 

select{
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    font-weight: 600;
    color: #0000007e;
}

#func, #opt{
    color: #0000007e;
}

textarea{
    width: 225%;
    margin-top: 28px;
    padding: 5px;
    border: 2px solid #000;
    background-color: #eee;
}

.btns{
    display: flex;
    padding-bottom: 50px; 
}

button{
    margin: 50px 50px 0;
}

@media(max-width: 1000px){
    .title{
        font-size: 4em;
    }

    .inputs{
        display: grid;
        grid-template-columns: 250px;
        grid-row-gap: 4px;
       
    } 

    textarea{
        width: 100%;
    }

    .btns{
        margin-top: 60px;
        flex-direction: column-reverse;
    }

    button{
        margin: 0 0 20px;
    }
}