.pesquisa{
    margin-bottom: 15px;
}

input[type="search"]{
    border: none;
    background-color: #eee;
    padding: 30px;
    border-radius: 20px;
}

.table{
    height: 65%;
    width: 90vw;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

table{
    border-collapse: collapse;
    max-height: 95%;
    width: 100%;
}

thead tr{
    background-color: var(--title-color);
    color: #fff;
}

thead tr th{
    padding: 10px;
    font-size: 18px;
}

tbody td{
    padding: 10px 5px;
}

.col1, .chamado{
    width: 5%;
    text-align: center;
}

.col2, .prod{
    width: 55%;
    text-align: left;
    padding: 0 10px;
}

.col3, .status{
    width: 15%;
    text-align: center;
}

.col4, .tec{
    width: 25%;
    text-align: left;
    padding: 0 10px;
}

tbody tr:nth-child(odd){
    background-color: #fff;
}

tbody tr:nth-child(even){
    background-color: var(--detail-color);
}
.model{
    display: none;
}
@media(max-width: 1000px){
    .pesquisa{
        margin: 50px 0 -30px 0;
    }

    .title{
        font-size: 4em;
    }

    button{
        margin: 0 0 20px;
    }

    table{
        font-size: 10px;
    }
}