.myContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
}

.inputs{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 100px;
    grid-row-gap: 40px;
   
} 

select{
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    font-weight: 600;
}

textarea{
    margin-top: 28px;
    padding: 5px;
    border: 2px solid #000;
    background-color: #eee;
}

.btns{
    display: flex;
}

button{
    margin: 100px 50px 0;
}

.Modal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }

.Modal-content {
    display: block;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

.ModalOpen { overflow: hidden; }
.is-hidden { display: none; }
.is-visuallyHidden { opacity: 0; }

.is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

@media(max-width: 1000px){
    .title{
        font-size: 4em;
    }

    .inputs{
        display: grid;
        grid-template-columns: 250px;
        grid-row-gap: 4px;
       
    } 

    .btns{
        margin-top: 60px;
        flex-direction: column-reverse;
    }

    button{
        margin: 0 0 20px;
    }
}